version: "3.9"

services:
  mongo:
    image: mongo:latest
    container_name: mongo
    restart: always
    volumes:
      - mongo_data:/data/db
    networks:
      - app_network

  backend:
    image: vivek487/backend:latest
    container_name: backend
    restart: always
    environment:
      - MONGO_URI=mongodb://mongo:27017/dd_db
    depends_on:
      - mongo
    networks:
      - app_network
    expose:
      - "8080"

  frontend:
    image: vivek487/frontend:latest
    container_name: frontend
    restart: always
    expose:
      - "80"
    depends_on:
      - backend
    networks:
      - app_network

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - app_network

volumes:
  mongo_data:

networks:
  app_network:
    driver: bridge

