name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build backend image
      run: |
        docker build -t vivek487/backend:latest ./backend
        docker push vivek487/backend:latest

    - name: Build frontend image
      run: |
        docker build -t vivek487/frontend:latest ./frontend
        docker push vivek487/frontend:latest

    - name: SSH into VM & update deployment
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.VM_HOST }}
        username: ${{ secrets.VM_USER }}
        key: ${{ secrets.VM_KEY }}
        script: |
          cd ~/mean-devops
          docker compose pull
          docker compose up -d
