name: CI/CD Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build Backend Image
      run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/crud-dd-backend:${{ github.sha }} -t ${{ secrets.DOCKERHUB_USERNAME }}/crud-dd-backend:latest ./backend

    - name: Build Frontend Image
      run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/crud-dd-frontend:${{ github.sha }} -t ${{ secrets.DOCKERHUB_USERNAME }}/crud-dd-frontend:latest ./frontend

    - name: Push Images
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/crud-dd-backend:${{ github.sha }}
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/crud-dd-backend:latest
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/crud-dd-frontend:${{ github.sha }}
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/crud-dd-frontend:latest

    - name: Upload docker-compose + nginx config
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.VM_HOST }}
        username: ${{ secrets.VM_USER }}
        key: ${{ secrets.VM_KEY }}
        source: "docker-compose.yml,nginx/default.conf"
        target: "~/crud-dd-task-mean-app"

    - name: Deploy on VM
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.VM_HOST }}
        username: ${{ secrets.VM_USER }}
        key: ${{ secrets.VM_KEY }}
        script: |
          cd ~/crud-dd-task-mean-app
          docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
          docker-compose pull
          docker-compose up -d --force-recreate

